.mymodal{
    position: fixed;
    z-index: 300;
    background-color: #ffff;
    width: 25%;
    border: 1px solid #e0e0e0;
    padding: 16px;
    border-radius:15px ;
    left: 38%;
    top: 22%;
    box-sizing: border-box;
    text-align: center;
    transition: all .3s ease-out;
}

@media (max-width:60rem){
    .mymodal{
        width: 30%;
        left: 35%;
        
    }
}